body{
    background-image: url("dirt.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#inp_num{
    width: 100px;
    height: 50px;
    font-size: xx-large;
    border: 3px solid black;
    background-color: rgba(165,42,42,0.5);
}
.pile{
    width: 100px;
    height: 50px;
    font-size: xx-large;
    border: 3px solid black;
    background-color: rgba(165,42,42,0.5);
    display: inline-block;
}
#inp_arr{
    display: inline-block;
}
span{
    color: aqua;
    font-size:300%;
}
#bpl{
    width: 100px;
    height: 50px;
    background-color: blue;
    color: darkorange;
    font-size: xx-large;    
}
#bpl:hover {
    background: red;
    color: white;
}
#bpl:active{
    transform: scale(0.9);
}
#but{
    width: 300px;
    height: 50px;
    background-color: blue;
    color: darkorange;
    font-size: xx-large;    
}
#but:hover {
    background: red;
    color: white;
}
#but:active{
    transform: scale(0.9);
}
.apile{
    width: 500px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.2);
    font-size: xx-large;    
    color: blue;
}
.apile:active{
    transform: scale(0.9);
}
#headd{
    font-size: 555%;
    font-style: normal;
    text-align: center;
    background: linear-gradient(to right,green,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
details{
    
}
#rule{
    width: fit-content;
    background-color: brown;
    border: 2px solid aqua;  
    border-radius: 8px;
    color: white;
    font-size: 200%;
    padding: 15px 20px; 
}

summary{
    color: white;
    font-size: x-large;
}
.float-img {
  position: absolute;
  top: 100px;
  left: 0;
  width: 150px;
  animation: float 10s linear infinite;
}

@keyframes float {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(100vw);
  }
}
